In [1]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 1.9 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [1]:
import pandas as pd
import glob
import os
import numpy as np

In [2]:
os.chdir('new-data')

In [3]:
os.chdir('snp-2022')

In [4]:
os.listdir()

['.DS_Store',
 'shop.xlsx',
 'snp_2022-00.xlsx',
 'snp_2022-01.xlsx',
 'snp_2022-02.xlsx',
 'snp_2022-03.xlsx',
 'snp_2022-04.xlsx',
 'snp_2022-05.xlsx',
 'snp_2022-06.xlsx',
 'snp_2022-07.xlsx',
 'snp_2022-08.xlsx',
 'ĐN_LC-2021.xlsx',
 'ĐN_LC-2022.xlsx']

In [5]:
files = [f for f in glob.glob('snp*.xlsx')]

In [6]:
df = pd.concat([pd.read_excel(f, converters={'Số điện thoại': str, 'COD': int, 'Tổng tiền thu được': int, 'Khai giá': int}) for f in files])

In [7]:
# df = pd.read_excel('snappy-total-2021.xlsx', converters={'Số điện thoại': str})

In [8]:
df.head()

,Người nhận,Địa chỉ,Tỉnh/ Thành phố giao,Quận/ Huyện giao,Phường/ Xã giao,Số điện thoại,Sản phẩm,COD,Tổng tiền thu được,Khai giá,Nhà mạng
0,A bảo,250 nguyễn thượng hiền P 5 Q Phú nhuận phuong ...,Hồ Chí Minh,Quận Phú Nhuận,Phường 5,0775509292,1 x 10g My pham,780000,780000,0,Mobifone
1,Ha Anh,49/3 đường 35 p hiệp bình chánh tp thủ đức - P...,Hồ Chí Minh,Thành phố Thủ Đức,Phường Hiệp Bình Chánh,0935494258,1 x 0g Đầm hoa cổ tròn thắt eo phối ren tay - ...,249000,249000,280000,Mobifone
2,Lê Anh Thư,"17 thi sách p3 Vị Thanh Hậu Giang - Phường 3, ...",Hậu Giang,Thành phố Vị Thanh,Phường 3,0978187111,1 x 0g Áo khoác len mỏng dệt kim Hàn Quốc - D2...,0,0,250000,Viettel
3,Viet Phan,Hoa Phượng 1-18 KĐT Vinhomes Riverside - Phúc ...,Hà Nội,Quận Long Biên,NaN,0968886068,1 x 100g Hộ vớ đi chân,249000,249000,0,Viettel
4,Nguyễn Hồng Son,bvđk tỉnh hậu giang khu vực 4 phường 3 thành p...,Hậu Giang,Thành phố Vị Thanh,Phường 3,0988890171,"1 x 0g Cài tóc đen hoạ tiết đơn giản - A624, 1...",329000,329000,360000,Viettel

In [16]:
df['Sản phẩm'] = df['Sản phẩm'].astype(str).apply(lambda x: ''.join(x.split("g ")[1:]))

In [15]:
s = '1 x 10g My pham'

type(s.split('g '))

list

In [20]:
gr = df.groupby(['Sản phẩm', 'Số điện thoại', 'Người nhận'])

In [ ]:
gr.head()

In [9]:
DN = df[df['To District'] == 'Quận Liên Chiểu']

In [11]:
DN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1034 entries, 1244 to 889328
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   To Name      1034 non-null   object
 1   To Contact   1034 non-null   object
 2   To Address   1034 non-null   object
 3   To Province  1034 non-null   object
 4   To District  1034 non-null   object
 5   sent         1034 non-null   bool
dtypes: bool(1), object(5)
memory usage: 49.5+ KB

In [12]:
isp_maps = {
    70: 'Mobifone',
    79: 'Mobifone',
    77: 'Mobifone',
    76: 'Mobifone',
    78: 'Mobifone',
    32: 'Viettel',
    33: 'Viettel',
    34: 'Viettel',
    35: 'Viettel',
    36: 'Viettel',
    37: 'Viettel',
    38: 'Viettel',
    39: 'Viettel',
    83: 'Vinaphone',
    84: 'Vinaphone',
    85: 'Vinaphone',
    81: 'Vinaphone',
    82: 'Vinaphone',
    97: 'Viettel',
    90: 'Mobifone',
    93: 'Mobifone',
    96: 'Viettel',
    98: 'Viettel',
    91: 'Vinaphone',
    92: 'Vietnammobile',
    94: 'Vinaphone',
    89: 'Mobifone',
    88: 'Vinaphone',
    86: 'Viettel',
    55: 'Vietnammobile',
    56: 'Vietnammobile',
    58: 'Vietnammobile',
    87: 'I-telecom',
    52: 'Vietnammobile'
}


def get_isp_name(maps, string):
    # get isp name from mapping dict
    try:
        return maps.get(int(string[1:3]), np.nan)
    except ValueError:
        return np.nan

In [15]:
DN['Nhà mạng'] = DN['To Contact'].astype(str).apply(lambda x: get_isp_name(isp_maps, x))

/tmp/ipykernel_56/1408219685.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DN['Nhà mạng'] = DN['To Contact'].astype(str).apply(lambda x: get_isp_name(isp_maps, x))

In [16]:
DN.head()

,To Name,To Contact,To Address,To Province,To District,sent,Nhà mạng
1244,Thương Hoài,0984509674,"H2/3 K74 Ngô Thị Nhậm - Phường Hòa Minh, Quận ...",Đà Nẵng,Quận Liên Chiểu,False,Viettel
1370,Nguyễn Thị Thảo Nhi,0987502627,"117 hồ quý li hoa minh - Phường Hòa Minh, Quận...",Đà Nẵng,Quận Liên Chiểu,False,Viettel
1833,Phạm thị thảo (phamthithao),0935767544,"03 Lâm Quang Thự, Phường Hòa Minh, Quận Liên C...",Đà Nẵng,Quận Liên Chiểu,False,Mobifone
2197,Ngoc Trang,0796123287,Ngoc Trang Sdt: 0796123287 Đc: khu G chung cư ...,Đà Nẵng,Quận Liên Chiểu,False,Mobifone
2568,Anh sơn,0918685303,Ac 03 đường nguyễn tất thành p - Phường Hòa Hi...,Đà Nẵng,Quận Liên Chiểu,False,Vinaphone

In [18]:
DN.drop_duplicates(subset=['To Contact'], inplace=True)

/tmp/ipykernel_56/1514655729.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DN.drop_duplicates(subset=['To Contact'], inplace=True)

In [19]:
DN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 807 entries, 1244 to 821391
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   To Name      807 non-null    object
 1   To Contact   807 non-null    object
 2   To Address   807 non-null    object
 3   To Province  807 non-null    object
 4   To District  807 non-null    object
 5   sent         807 non-null    bool
 6   Nhà mạng     807 non-null    object
dtypes: bool(1), object(6)
memory usage: 44.9+ KB

In [20]:
DN.to_excel('ĐN_LC-2021.xlsx', index=False)

In [21]:
os.chdir('snp-2022')

In [22]:
dn = pd.read_excel('ĐN_LC-2022.xlsx', converters={'Số điện thoại': str, 'COD': int, 'Tổng tiền thu được': int, 'Khai giá': int})

In [25]:
dn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3232 entries, 0 to 3231
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Người nhận            3232 non-null   object
 1   Địa chỉ               3232 non-null   object
 2   Tỉnh/ Thành phố giao  3232 non-null   object
 3   Quận/ Huyện giao      3232 non-null   object
 4   Phường/ Xã giao       2323 non-null   object
 5   Số điện thoại         3232 non-null   object
 6   Sản phẩm              2425 non-null   object
 7   COD                   2425 non-null   object
 8   Tổng tiền thu được    2425 non-null   object
 9   Khai giá              2425 non-null   object
 10  Nhà mạng              3226 non-null   object
dtypes: object(11)
memory usage: 277.9+ KB

In [26]:
dn.drop_duplicates(subset=['Số điện thoại'], inplace=True)

In [27]:
dn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2901 entries, 0 to 3154
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Người nhận            2901 non-null   object
 1   Địa chỉ               2901 non-null   object
 2   Tỉnh/ Thành phố giao  2901 non-null   object
 3   Quận/ Huyện giao      2901 non-null   object
 4   Phường/ Xã giao       2323 non-null   object
 5   Số điện thoại         2901 non-null   object
 6   Sản phẩm              2425 non-null   object
 7   COD                   2425 non-null   object
 8   Tổng tiền thu được    2425 non-null   object
 9   Khai giá              2425 non-null   object
 10  Nhà mạng              2895 non-null   object
dtypes: object(11)
memory usage: 272.0+ KB

In [30]:
def split_df(df, chunksize=200000):
    chunks = []
    num_chunks = len(df) // chunksize + 1
    for i in range(num_chunks):
        chunks.append(df[i*chunksize:(i+1)*chunksize])
    return chunks

# chunksize = 10000
# chunks = len(data) // chunksize
chunks = split_df(df)

In [31]:
len(chunks)

9

In [32]:
i = 0
for chunk in chunks:
    chunk.to_excel('snp_2022-{:02d}.xlsx'.format(i), index=False)
    i += 1

In [8]:
def split_df(df, chunksize=20000):
    chunks = []
    num_chunks = len(df) // chunksize + 1
    for i in range(num_chunks):
        chunks.append(df[i*chunksize:(i+1)*chunksize])
    return chunks

# chunksize = 10000
# chunks = len(data) // chunksize
chunks = split_df(df)

In [11]:
i = 0
for chunk in chunks:
    chunk.to_excel('data-20k-{:02d}.xlsx'.format(i), index=False)
    i += 1