In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [2]:
import glob
import pandas as pd
import numpy as np
import re
import os
from sklearn.utils import shuffle

In [3]:
os.chdir('new-data/new-outcome')

In [4]:
files = [f for f in glob.glob('data-*.xlsx')]
files

['data-00.xlsx',
 'data-01.xlsx',
 'data-02.xlsx',
 'data-03.xlsx',
 'data-04.xlsx',
 'data-05.xlsx',
 'data-06.xlsx',
 'data-07.xlsx',
 'data-08.xlsx',
 'data-09.xlsx',
 'data-10.xlsx',
 'data-11.xlsx',
 'data-12.xlsx',
 'data-13.xlsx',
 'data-14.xlsx',
 'data-15.xlsx',
 'data-16.xlsx',
 'data-17.xlsx',
 'data-18.xlsx',
 'data-19.xlsx',
 'data-20.xlsx',
 'data-21.xlsx',
 'data-22.xlsx',
 'data-23.xlsx',
 'data-24.xlsx',
 'data-25.xlsx',
 'data-26.xlsx',
 'data-27.xlsx',
 'data-28.xlsx',
 'data-29.xlsx',
 'data-30.xlsx',
 'data-31.xlsx',
 'data-32.xlsx',
 'data-33.xlsx',
 'data-34.xlsx',
 'data-35.xlsx',
 'data-36.xlsx',
 'data-37.xlsx',
 'data-38.xlsx',
 'data-39.xlsx',
 'data-40.xlsx',
 'data-41.xlsx',
 'data-42.xlsx',
 'data-43.xlsx',
 'data-44.xlsx',
 'data-45.xlsx',
 'data-46.xlsx',
 'data-47.xlsx',
 'data-48.xlsx',
 'data-49.xlsx',
 'data-50.xlsx',
 'data-51.xlsx',
 'data-52.xlsx',
 'data-53.xlsx',
 'data-54.xlsx',
 'data-55.xlsx',
 'data-56.xlsx',
 'data-57.xlsx',
 'data-58.xlsx',
 'data-59.xlsx',
 'data-60.xlsx',
 'data-61.xlsx',
 'data-62.xlsx',
 'data-63.xlsx',
 'data-64.xlsx',
 'data-65.xlsx',
 'data-66.xlsx',
 'data-67.xlsx',
 'data-68.xlsx',
 'data-69.xlsx',
 'data-70.xlsx',
 'data-71.xlsx',
 'data-72.xlsx',
 'data-73.xlsx',
 'data-74.xlsx',
 'data-75.xlsx',
 'data-76.xlsx',
 'data-77.xlsx',
 'data-78.xlsx',
 'data-79.xlsx']

In [15]:
# files.remove('data-00.xlsx')
# files.remove('data-01.xlsx')
# files

In [9]:
data = [pd.read_excel(file, converters={'To Contact': str}) for file in files]  # read excel do not parse number

In [10]:
data = [shuffle(df) for df in data]

In [11]:
data[1].head()

,To Name,To Contact,To Address,To Province,To District,sent,ISP
4504,Tào Thu,0853168816,Cho e 1 đôi này size 35 Sđt 0853168816 Thôn gi...,Thanh Hóa,Huyện Bá Thước,False,Vinaphone
7709,Yu Miu,0336705687,"47 Âu Cơ , Xã Lộc Nga , Thành Phố Bảo Lộc , L...",Lâm Đồng,NaN,False,Viettel
16,NTD- Chị Thu,0926651631,"23 Đường Suối Nhum - Phường Linh Xuân, Thành p...",Hồ Chí Minh,Thành phố Thủ Đức,False,Vietnammobile
6428,Mạnh Hà,0862176226,"khu vui chơi victory ql 37b tây vinh , Xã Yên...",Nam Định,NaN,False,Viettel
10899,Nguyễn Hoàng Thùy Lâm,0763725149,"Công Viên Diên Hồng, Đường Tản Đà,Phường 1 , ...",Phú Yên,NaN,False,Mobifone

In [12]:
i = 0
for df in data:
    df.to_excel('data-shuffle-{:02d}.xlsx'.format(i), index=False)
    i += 1