In [6]:
import numpy as np
import pandas as pd
import os
import glob



os.chdir('phone')
# os.chdir('../..')
os.getcwd()

'/home/phuoc/work/analyze/snp/phone'

In [7]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 1.7 MB/s
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [87]:
# os.chdir('./phone')
os.getcwd()

FileNotFoundError: [Errno 2] No such file or directory

In [8]:
cols = ['To Name', 'To Contact', 'To Address', 'contact_text', 'isp', 'dau so', 'file']
ext = 'xlsx'

files = [f for f in glob.glob(f'*.{ext}')]
files
sent_data = pd.concat([pd.read_excel(f, names=cols, engine='openpyxl') for f in files])
sent_data.head()

,To Name,To Contact,To Address,contact_text,isp,dau so,file
0,Kiều Tiên,84834108733,"Trước trường mẫu giáo lâm tân , Xã Lâm Tân , ...",84834108733,Vinaphone,8483,new20/6
1,Thị Út,84906413147,"11 Lý Chiêu Hoàng Phường 10 Quận 6 , Phường 1...",84906413147,Mobifone,8490,new20/6
2,Đức nguyễn,84903354837,"58 thiên hộ dương,p1,gò vấp, Hồ Chí Minh, Quận...",84903354837,Mobifone,8490,new20/6
3,Nguyễn Hoàng An,84385830034,"4/4G đường XTT 6-2, ấp 3 , Xã Xuân Thới Thượn...",84385830034,Viettel,8438,new20/6
4,Cường,84961579644,"Số 22, tổ 1, ấp 1, xã minh hưng, huyện chơn th...",84961579644,Viettel,8496,new20/6

In [9]:
sent_data.drop(['contact_text', 'dau so', 'file'], inplace=True, axis=1)
sent_data.head()

,To Name,To Contact,To Address,isp
0,Kiều Tiên,84834108733,"Trước trường mẫu giáo lâm tân , Xã Lâm Tân , ...",Vinaphone
1,Thị Út,84906413147,"11 Lý Chiêu Hoàng Phường 10 Quận 6 , Phường 1...",Mobifone
2,Đức nguyễn,84903354837,"58 thiên hộ dương,p1,gò vấp, Hồ Chí Minh, Quận...",Mobifone
3,Nguyễn Hoàng An,84385830034,"4/4G đường XTT 6-2, ấp 3 , Xã Xuân Thới Thượn...",Viettel
4,Cường,84961579644,"Số 22, tổ 1, ấp 1, xã minh hưng, huyện chơn th...",Viettel

In [10]:
def validate_phone(s: str) -> str:
    if '84' in s:
        return s.replace('84', '0')
    return s



sent_data['To Contact'] = sent_data['To Contact'].astype(str).apply(lambda x: validate_phone(x))
sent_data.head()

,To Name,To Contact,To Address,isp
0,Kiều Tiên,0834108733,"Trước trường mẫu giáo lâm tân , Xã Lâm Tân , ...",Vinaphone
1,Thị Út,0906413147,"11 Lý Chiêu Hoàng Phường 10 Quận 6 , Phường 1...",Mobifone
2,Đức nguyễn,0903354837,"58 thiên hộ dương,p1,gò vấp, Hồ Chí Minh, Quận...",Mobifone
3,Nguyễn Hoàng An,0385830034,"4/4G đường XTT 6-2, ấp 3 , Xã Xuân Thới Thượn...",Viettel
4,Cường,0961579644,"Số 22, tổ 1, ấp 1, xã minh hưng, huyện chơn th...",Viettel

In [11]:
os.getcwd()
os.chdir('..')

In [12]:
os.chdir('nguoi-nhan/1.6to24.7_unique')
os.getcwd()

'/home/phuoc/work/analyze/snp/nguoi-nhan/1.6to24.7_unique'

In [13]:
cols = ['Người nhận', 'Địa chỉ', 'Tỉnh/ Thành phố giao', 'Quận/ Huyện giao', 'Phường/ Xã giao', 'Số điện thoại', 'ISP']
ext = 'xlsx'

files = [f for f in glob.glob(f'*.{ext}')]
files
data = pd.concat([pd.read_excel(f, names=cols, engine='openpyxl') for f in files])
data.head()

,Người nhận,Địa chỉ,Tỉnh/ Thành phố giao,Quận/ Huyện giao,Phường/ Xã giao,Số điện thoại,ISP
0,Loan Ngô,Ngô Thị Hồng - văn phòng UBND quận Ngô Quyền 1...,Hải Phòng,Quận Ngô Quyền,Phường Máy Tơ,987928887,Viettel
1,Nguyễn Thị Phương Dung,nguyễn thị phương dung số 40 đường s...,Long An,Thành phố Tân An,Phường 6,908413839,Mobifone
2,Cô Dung (cậu Hùng),109/39 ấp mới 2 xã trung chánh huyện hóc môn t...,Hồ Chí Minh,Huyện Hóc Môn,Xã Trung Chánh,937166909,Mobifone
3,Nguyen Thanh Loan,"41A Lý Thái Tổ - Quận Hoàn Kiếm, Hà Nội",Hà Nội,Quận Hoàn Kiếm,NaN,904918600,Mobifone
4,Bao Anh,số 1 ngách 84/5 Đàm Quang Trung tổ 22 - Phường...,Hà Nội,Quận Long Biên,Phường Long Biên,343317086,Viettel

In [14]:
data['Số điện thoại'] = data['Số điện thoại'].astype(str).apply(lambda x: '0' + x)
data.head()

,Người nhận,Địa chỉ,Tỉnh/ Thành phố giao,Quận/ Huyện giao,Phường/ Xã giao,Số điện thoại,ISP
0,Loan Ngô,Ngô Thị Hồng - văn phòng UBND quận Ngô Quyền 1...,Hải Phòng,Quận Ngô Quyền,Phường Máy Tơ,0987928887,Viettel
1,Nguyễn Thị Phương Dung,nguyễn thị phương dung số 40 đường s...,Long An,Thành phố Tân An,Phường 6,0908413839,Mobifone
2,Cô Dung (cậu Hùng),109/39 ấp mới 2 xã trung chánh huyện hóc môn t...,Hồ Chí Minh,Huyện Hóc Môn,Xã Trung Chánh,0937166909,Mobifone
3,Nguyen Thanh Loan,"41A Lý Thái Tổ - Quận Hoàn Kiếm, Hà Nội",Hà Nội,Quận Hoàn Kiếm,NaN,0904918600,Mobifone
4,Bao Anh,số 1 ngách 84/5 Đàm Quang Trung tổ 22 - Phường...,Hà Nội,Quận Long Biên,Phường Long Biên,0343317086,Viettel

In [27]:
# data['Số điện thoại'].to_excel('snp.xlsx', index=False)

In [26]:
# sent_data['To Contact'].to_excel('tham.xlsx', index=False)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171876 entries, 0 to 1875
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Người nhận            171876 non-null  object
 1   Địa chỉ               171876 non-null  object
 2   Tỉnh/ Thành phố giao  171876 non-null  object
 3   Quận/ Huyện giao      171876 non-null  object
 4   Phường/ Xã giao       152360 non-null  object
 5   Số điện thoại         171876 non-null  object
 6   ISP                   171742 non-null  object
dtypes: object(7)
memory usage: 10.5+ MB

In [16]:
def remove_rows(df1, df2):
    df1.drop(df1[df1['Số điện thoại'].isin(df2['To Contact'])].index, inplace=True)


remove_rows(data, sent_data)
data.head()

,Người nhận,Địa chỉ,Tỉnh/ Thành phố giao,Quận/ Huyện giao,Phường/ Xã giao,Số điện thoại,ISP
0,Loan Ngô,Ngô Thị Hồng - văn phòng UBND quận Ngô Quyền 1...,Hải Phòng,Quận Ngô Quyền,Phường Máy Tơ,0987928887,Viettel
1,Nguyễn Thị Phương Dung,nguyễn thị phương dung số 40 đường s...,Long An,Thành phố Tân An,Phường 6,0908413839,Mobifone
2,Cô Dung (cậu Hùng),109/39 ấp mới 2 xã trung chánh huyện hóc môn t...,Hồ Chí Minh,Huyện Hóc Môn,Xã Trung Chánh,0937166909,Mobifone
3,Nguyen Thanh Loan,"41A Lý Thái Tổ - Quận Hoàn Kiếm, Hà Nội",Hà Nội,Quận Hoàn Kiếm,NaN,0904918600,Mobifone
4,Bao Anh,số 1 ngách 84/5 Đàm Quang Trung tổ 22 - Phường...,Hà Nội,Quận Long Biên,Phường Long Biên,0343317086,Viettel

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171876 entries, 0 to 1875
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Người nhận            171876 non-null  object
 1   Địa chỉ               171876 non-null  object
 2   Tỉnh/ Thành phố giao  171876 non-null  object
 3   Quận/ Huyện giao      171876 non-null  object
 4   Phường/ Xã giao       152360 non-null  object
 5   Số điện thoại         171876 non-null  object
 6   ISP                   171742 non-null  object
dtypes: object(7)
memory usage: 10.5+ MB

In [18]:
# split large file into chunks file
def split_df(df, chunksize=10000):
    chunks = []
    num_chunks = len(df) // chunksize + 1
    for i in range(num_chunks):
        chunks.append(df[i*chunksize:(i+1)*chunksize])
    return chunks

# chunksize = 10000
# chunks = len(data) // chunksize
chunks = split_df(data)

i = 0
for chunk in chunks:
    chunk.to_excel('data-nguoi-nhan_{:02d}.xlsx'.format(i), index=False)
    i += 1

In [21]:
swap_cols = ['To Name', 'To Address', 'To Contact', 'ISP']
sent_data = sent_data.reindex(columns=swap_cols)

sent_data.head()

,To Name,To Address,To Contact,ISP
0,Kiều Tiên,"Trước trường mẫu giáo lâm tân , Xã Lâm Tân , ...",0834108733,NaN
1,Thị Út,"11 Lý Chiêu Hoàng Phường 10 Quận 6 , Phường 1...",0906413147,NaN
2,Đức nguyễn,"58 thiên hộ dương,p1,gò vấp, Hồ Chí Minh, Quận...",0903354837,NaN
3,Nguyễn Hoàng An,"4/4G đường XTT 6-2, ấp 3 , Xã Xuân Thới Thượn...",0385830034,NaN
4,Cường,"Số 22, tổ 1, ấp 1, xã minh hưng, huyện chơn th...",0961579644,NaN

In [23]:
isp_maps = {
    70: 'Mobifone',
    79: 'Mobifone',
    77: 'Mobifone',
    76: 'Mobifone',
    78: 'Mobifone',
    32: 'Viettel',
    33: 'Viettel',
    34: 'Viettel',
    35: 'Viettel',
    36: 'Viettel',
    37: 'Viettel',
    38: 'Viettel',
    39: 'Viettel',
    83: 'Vinaphone',
    84: 'Vinaphone',
    85: 'Vinaphone',
    81: 'Vinaphone',
    82: 'Vinaphone',
    97: 'Viettel',
    90: 'Mobifone',
    93: 'Mobifone',
    96: 'Viettel',
    98: 'Viettel',
    91: 'Vinaphone',
    92: 'Vietnammobile',
    94: 'Vinaphone',
    89: 'Mobifone',
    88: 'Vinaphone',
    86: 'Viettel',
    55: 'Vietnammobile',
    56: 'Vietnammobile',
    58: 'Vietnammobile',
    87: 'I-telecom',
    52: 'Vietnammobile'
}

def get_isp_name(maps, key):
     try:
        return maps.get(int(key[1:3]), np.nan)
     except ValueError:
        return np.nan
    
sent_data['ISP'] = sent_data['To Contact'].astype(str).apply(lambda x: get_isp_name(isp_maps, x))

sent_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165030 entries, 0 to 9998
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   To Name     165025 non-null  object
 1   To Address  165029 non-null  object
 2   To Contact  165030 non-null  object
 3   ISP         162896 non-null  object
dtypes: object(4)
memory usage: 6.3+ MB

In [26]:
rename = {
    'To Name': 'Người nhận',
    'To Address': 'Địa chỉ',
    'To Contact': 'Số điện thoại'
}

sent_data.rename(columns=rename, inplace=True)

In [28]:
sent_data['Tỉnh/ Thành phố giao'] = np.nan
sent_data['Quận/ Huyện giao'] = np.nan
sent_data['Phường/ Xã giao'] = np.nan

sent_data.head()

,Người nhận,Địa chỉ,Số điện thoại,ISP,Tỉnh/ Thành phố giao,Quận/ Huyện giao,Phường/ Xã giao
0,Kiều Tiên,"Trước trường mẫu giáo lâm tân , Xã Lâm Tân , ...",0834108733,Vinaphone,NaN,NaN,NaN
1,Thị Út,"11 Lý Chiêu Hoàng Phường 10 Quận 6 , Phường 1...",0906413147,Mobifone,NaN,NaN,NaN
2,Đức nguyễn,"58 thiên hộ dương,p1,gò vấp, Hồ Chí Minh, Quận...",0903354837,Mobifone,NaN,NaN,NaN
3,Nguyễn Hoàng An,"4/4G đường XTT 6-2, ấp 3 , Xã Xuân Thới Thượn...",0385830034,Viettel,NaN,NaN,NaN
4,Cường,"Số 22, tổ 1, ấp 1, xã minh hưng, huyện chơn th...",0961579644,Viettel,NaN,NaN,NaN

In [29]:
pivot_data = pd.concat([data, sent_data])

pivot_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336906 entries, 0 to 9998
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Người nhận            336901 non-null  object
 1   Địa chỉ               336905 non-null  object
 2   Tỉnh/ Thành phố giao  171876 non-null  object
 3   Quận/ Huyện giao      171876 non-null  object
 4   Phường/ Xã giao       152360 non-null  object
 5   Số điện thoại         336906 non-null  object
 6   ISP                   334638 non-null  object
dtypes: object(7)
memory usage: 20.6+ MB

In [30]:
os.getcwd()

'/home/phuoc/work/analyze/snp/nguoi-nhan/1.6to24.7_unique'

In [31]:
os.chdir('..')

In [32]:
os.chdir('..')
os.getcwd()

'/home/phuoc/work/analyze/snp'

In [33]:
os.mkdir('sent-data')
os.chdir('sent-data')
os.getcwd()

'/home/phuoc/work/analyze/snp/sent-data'

In [34]:
pivot_data.to_excel('sent-data.xlsx', index=False)

In [35]:
pivot_data.head()

,Người nhận,Địa chỉ,Tỉnh/ Thành phố giao,Quận/ Huyện giao,Phường/ Xã giao,Số điện thoại,ISP
0,Loan Ngô,Ngô Thị Hồng - văn phòng UBND quận Ngô Quyền 1...,Hải Phòng,Quận Ngô Quyền,Phường Máy Tơ,0987928887,Viettel
1,Nguyễn Thị Phương Dung,nguyễn thị phương dung số 40 đường s...,Long An,Thành phố Tân An,Phường 6,0908413839,Mobifone
2,Cô Dung (cậu Hùng),109/39 ấp mới 2 xã trung chánh huyện hóc môn t...,Hồ Chí Minh,Huyện Hóc Môn,Xã Trung Chánh,0937166909,Mobifone
3,Nguyen Thanh Loan,"41A Lý Thái Tổ - Quận Hoàn Kiếm, Hà Nội",Hà Nội,Quận Hoàn Kiếm,NaN,0904918600,Mobifone
4,Bao Anh,số 1 ngách 84/5 Đàm Quang Trung tổ 22 - Phường...,Hà Nội,Quận Long Biên,Phường Long Biên,0343317086,Viettel

In [36]:
os.getcwd()

'/home/phuoc/work/analyze/snp/sent-data'

In [37]:
os.chdir('..')
os.listdir()

['.DS_Store',
 'data-tham1.xlsx',
 'nguoi-nhan',
 'phone',
 'sent-data',
 'shop.xlsx']

In [41]:
all_data = pd.read_excel('data-tham1.xlsx')

In [42]:
all_data.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
all_data.head()

,To Name,To Contact,To Address,ISP,Address
0,1 Nguyen My Linh 150000,0909238244,1416/35 Lê đức thọ f13 Q gò vấp tp hcm,Mobifone,['hcm']
1,8 Thu Hằng 150000,0906198540,đc Hoàng Thu Hằng số nhà 19 Đường Vũ Văn Mật T...,Mobifone,"['bình tỉnh', 'yên bái']"
2,5 My Nguyen 150000,0987334331,"Số 6, đường số 9, thôn Agrồng, xã Atiêng, Tây ...",Viettel,['Quảng Nam']
3,6 Dau Nôi 150000,0965272850,A6/32u/ tổ 7 ấp1a xã vĩnh lộc a huyện Bình Chá...,Viettel,['hcm']
4,2 Nguyễn Khâm 150000,0388581760,Tổ 6 p chánh Lộ Tp Quảng ngãi hẻm 968/40/1 qua...,Viettel,"['Quảng ngãi', 'quang tru']"

In [43]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 877294 entries, 0 to 877293
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   To Name     877292 non-null  object
 1   To Contact  877294 non-null  object
 2   To Address  877294 non-null  object
 3   ISP         863537 non-null  object
 4   Address     877294 non-null  object
dtypes: object(5)
memory usage: 33.5+ MB

In [45]:
remove_rows(all_data, pivot_data)

all_data.info()

KeyError: 'Số điện thoại'

In [46]:
def remove_dup_rows(all_data, data):
    all_data.drop(all_data[all_data['To Contact'].isin(data['Số điện thoại'])].index, inplace=True)
    

remove_dup_rows(all_data, pivot_data)

all_data.head()

,To Name,To Contact,To Address,ISP,Address
0,1 Nguyen My Linh 150000,0909238244,1416/35 Lê đức thọ f13 Q gò vấp tp hcm,Mobifone,['hcm']
1,8 Thu Hằng 150000,0906198540,đc Hoàng Thu Hằng số nhà 19 Đường Vũ Văn Mật T...,Mobifone,"['bình tỉnh', 'yên bái']"
2,5 My Nguyen 150000,0987334331,"Số 6, đường số 9, thôn Agrồng, xã Atiêng, Tây ...",Viettel,['Quảng Nam']
3,6 Dau Nôi 150000,0965272850,A6/32u/ tổ 7 ấp1a xã vĩnh lộc a huyện Bình Chá...,Viettel,['hcm']
4,2 Nguyễn Khâm 150000,0388581760,Tổ 6 p chánh Lộ Tp Quảng ngãi hẻm 968/40/1 qua...,Viettel,"['Quảng ngãi', 'quang tru']"

In [47]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699605 entries, 0 to 877293
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   To Name     699604 non-null  object
 1   To Contact  699605 non-null  object
 2   To Address  699605 non-null  object
 3   ISP         687983 non-null  object
 4   Address     699605 non-null  object
dtypes: object(5)
memory usage: 32.0+ MB

In [49]:
all_data.drop_duplicates(subset=['To Contact'], keep='first', inplace=True)
all_data.head()

,To Name,To Contact,To Address,ISP,Address
0,1 Nguyen My Linh 150000,0909238244,1416/35 Lê đức thọ f13 Q gò vấp tp hcm,Mobifone,['hcm']
1,8 Thu Hằng 150000,0906198540,đc Hoàng Thu Hằng số nhà 19 Đường Vũ Văn Mật T...,Mobifone,"['bình tỉnh', 'yên bái']"
2,5 My Nguyen 150000,0987334331,"Số 6, đường số 9, thôn Agrồng, xã Atiêng, Tây ...",Viettel,['Quảng Nam']
3,6 Dau Nôi 150000,0965272850,A6/32u/ tổ 7 ấp1a xã vĩnh lộc a huyện Bình Chá...,Viettel,['hcm']
4,2 Nguyễn Khâm 150000,0388581760,Tổ 6 p chánh Lộ Tp Quảng ngãi hẻm 968/40/1 qua...,Viettel,"['Quảng ngãi', 'quang tru']"

In [50]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699542 entries, 0 to 877293
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   To Name     699541 non-null  object
 1   To Contact  699542 non-null  object
 2   To Address  699542 non-null  object
 3   ISP         687923 non-null  object
 4   Address     699542 non-null  object
dtypes: object(5)
memory usage: 32.0+ MB

In [51]:
all_data.to_excel('data-tong-da-loc-trung.xlsx', index=False)