In [1]:
import pandas as pd
import os

In [2]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 447 kB/s
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [3]:
os.listdir()

['.DS_Store',
 '.ipynb_checkpoints',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'handle_duplicates.ipynb',
 'handle_njv_data.ipynb',
 'handle_snp_data.ipynb',
 'handling_snp2.ipynb',
 'new-data']

In [4]:
# read total of data
os.chdir('new-data/fahasa')

In [5]:
import glob


cols = ['Người nhận', 'Địa chỉ', 'Tỉnh/ Thành phố giao', 'Quận/ Huyện giao', 'Số điện thoại']
files = [i for i in glob.glob(f'trackings*.xlsx')]

fahasa = pd.concat([pd.read_excel(f, names=cols) for f in files])

fahasa = fahasa[['Người nhận', 'Số điện thoại', 'Địa chỉ', 'Tỉnh/ Thành phố giao', 'Quận/ Huyện giao']]
fahasa.rename(columns={'Người nhận': 'To Name', 'Số điện thoại': 'To Contact', 'Địa chỉ': 'To Address', 'Tỉnh/ Thành phố giao': 'To Province', 'Quận/ Huyện giao': 'To District'}, inplace=True)
fahasa.head()

,To Name,To Contact,To Address,To Province,To District
0,Huỳnh Phương,902898155,"686 Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Th...",Hồ Chí Minh,Quận Bình Thạnh
1,Nguyen Hoai Linh,909594272,"1396/77 Lê Đức Thọ, Phường 13, Quận Gò Vấp, Hồ...",Hồ Chí Minh,Quận Gò Vấp
2,Ngô minh phượng,919337854,"205/29 phan văn hân, Phường 17, Quận Bình Thạn...",Hồ Chí Minh,Quận Bình Thạnh
3,Munh thanh Phạm,903334547,553/7 luỹ bán bích phường phú thanh quận tân p...,Hồ Chí Minh,Quận Tân Phú
4,Lê Thùy Linh,902829188,"439/49 Cây Trâm, phường 8, Phường 8, Quận Gò V...",Hồ Chí Minh,Quận Gò Vấp

In [6]:
fahasa.drop_duplicates(subset=['To Contact'], inplace=True, keep='first')
fahasa.head()

,To Name,To Contact,To Address,To Province,To District
0,Huỳnh Phương,902898155,"686 Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Th...",Hồ Chí Minh,Quận Bình Thạnh
1,Nguyen Hoai Linh,909594272,"1396/77 Lê Đức Thọ, Phường 13, Quận Gò Vấp, Hồ...",Hồ Chí Minh,Quận Gò Vấp
2,Ngô minh phượng,919337854,"205/29 phan văn hân, Phường 17, Quận Bình Thạn...",Hồ Chí Minh,Quận Bình Thạnh
3,Munh thanh Phạm,903334547,553/7 luỹ bán bích phường phú thanh quận tân p...,Hồ Chí Minh,Quận Tân Phú
4,Lê Thùy Linh,902829188,"439/49 Cây Trâm, phường 8, Phường 8, Quận Gò V...",Hồ Chí Minh,Quận Gò Vấp

In [7]:
def normalize_phones(s: str) -> str:
    if s.startswith('84'):
        return '0' + s[2:]
    elif s.startswith('0'):
        return s[:]
    else:
        return '0' + s

In [8]:
fahasa['To Contact'] = fahasa['To Contact'].astype('str').apply(lambda x: normalize_phones(x))
fahasa.head()

,To Name,To Contact,To Address,To Province,To District
0,Huỳnh Phương,0902898155,"686 Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Th...",Hồ Chí Minh,Quận Bình Thạnh
1,Nguyen Hoai Linh,0909594272,"1396/77 Lê Đức Thọ, Phường 13, Quận Gò Vấp, Hồ...",Hồ Chí Minh,Quận Gò Vấp
2,Ngô minh phượng,0919337854,"205/29 phan văn hân, Phường 17, Quận Bình Thạn...",Hồ Chí Minh,Quận Bình Thạnh
3,Munh thanh Phạm,0903334547,553/7 luỹ bán bích phường phú thanh quận tân p...,Hồ Chí Minh,Quận Tân Phú
4,Lê Thùy Linh,0902829188,"439/49 Cây Trâm, phường 8, Phường 8, Quận Gò V...",Hồ Chí Minh,Quận Gò Vấp

In [9]:
fahasa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82590 entries, 0 to 2812
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   To Name      82590 non-null  object
 1   To Contact   82590 non-null  object
 2   To Address   82590 non-null  object
 3   To Province  82590 non-null  object
 4   To District  82590 non-null  object
dtypes: object(5)
memory usage: 3.8+ MB

In [10]:
# fahasa_export = fahasa[0:20000]
# fahasa_export.info()

In [11]:
import numpy as np


isp_maps = {
    70: 'Mobifone',
    79: 'Mobifone',
    77: 'Mobifone',
    76: 'Mobifone',
    78: 'Mobifone',
    32: 'Viettel',
    33: 'Viettel',
    34: 'Viettel',
    35: 'Viettel',
    36: 'Viettel',
    37: 'Viettel',
    38: 'Viettel',
    39: 'Viettel',
    83: 'Vinaphone',
    84: 'Vinaphone',
    85: 'Vinaphone',
    81: 'Vinaphone',
    82: 'Vinaphone',
    97: 'Viettel',
    90: 'Mobifone',
    93: 'Mobifone',
    96: 'Viettel',
    98: 'Viettel',
    91: 'Vinaphone',
    92: 'Vietnammobile',
    94: 'Vinaphone',
    89: 'Mobifone',
    88: 'Vinaphone',
    86: 'Viettel',
    55: 'Vietnammobile',
    56: 'Vietnammobile',
    58: 'Vietnammobile',
    87: 'I-telecom',
    52: 'Vietnammobile'
}


def get_isp_name(maps, string):
    # get isp name from mapping dict
    try:
        return maps.get(int(string[1:3]), np.nan)
    except ValueError:
        return np.nan

In [13]:
fahasa['ISP'] = fahasa['To Contact'].astype('str').apply(lambda x: get_isp_name(isp_maps, x))

In [14]:
# fahasa_export.head()

In [23]:
fahasa_export.to_excel('fahasa.19-8.xlsx', index=False)

In [116]:
# split large file into chunks file
def split_df(df, chunksize=10000):
    chunks = []
    num_chunks = len(df) // chunksize + 1
    for i in range(num_chunks):
        chunks.append(df[i*chunksize:(i+1)*chunksize])
    return chunks

# chunksize = 10000
# chunks = len(data) // chunksize
chunks = split_df(fahasa)

i = 0
for chunk in chunks:
    chunk.to_excel('fahasa_{:02d}.xlsx'.format(i), index=False)
    i += 1

NameError: name 'data' is not defined